/* 1. SEMUA @import WAJIB DI ATAS */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

/* 2. Baru deklarasikan tema Tailwind v4 */
@theme {
  --color-primary: #db2777; /* Pink-600 */
  --color-secondary: #fbcfe8; /* Pink-200 */
}

/* 3. Aturan CSS biasa di paling bawah */
html {
  scroll-behavior: smooth;
}